#banner
  .banner_content
    %h1 File Cabinet
    %p trace you work. Organized, alway
    %button= link_to 'Enter', new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organized
        %p Commodo enim culpa irure officia, small batch bitters austin. Deep v tousled trust fund duis sustainable scenester. Raw denim deserunt kitsch magna humblebrag pug man bun, meditation pop-up fashion axe. Roof party kombucha portland wayfarers. Whatever yr est synth offal officia enim pickled listicle, health goth microdosing gluten-free actually cray excepteur. Sunt mumblecore vice cliche, voluptate waistcoat consectetur beard hell of pickled tousled four dollar toast. Tumblr la croix humblebrag hoodie.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to 'Join Now', new_user_registration_path

